@model StudentModel;

@{
    ViewData["Title"] = "Listado de alumnos";

}



<h3>@Model.Nombre Es un alumno de la carrera @Model.Carrera</h3>

<img src="~/img/alumnos.jpg" width="600px" height="500px">


